<!-- https://mavo.io/demos/svgpath/ -->
<!-- https://css-tricks.com/svg-line-animation-works/ -->
html
  head
    link("rel"="stylesheet", href='/styles.css')
    link(rel="stylesheet", href="/highlight/styles/solarized-light.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap")
    script(src="/highlight/highlight.pack.js")
    script hljs.initHighlightingOnLoad()
  body
    h1(style={display: 'flex', 'flex-direction': 'row', 'align-items': 'center'})
      | effectsjs
      svg(width="50px", xmlns="http://www.w3.org/2000/svg",version="1.1",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 50 50")
        path(d="m 25 25 a 10 10 0 0 0 20 0 a 10 10 0 0 0 -20 0 a 10 10 0 0 1 -20 0 a 10 10 0 0 1 20 0",stroke="#529fd9",stroke-width="2",fill="none",id="wire")

    h2 what is it?
    p an extension to the javascript language enabling new control flow
      |  operations that may be well suited to a variety of general purpose programming contexts.

    h2 what does it look like?

    :markdown-it(linkify langPrefix='highlight-')
      ```js
      try {
        await work()
      } handle (effect) {
        switch effect.type {
          case 'log': {
            console.log(effect.payload)
            resume
          }
        }
      }
      const work () =>
        fetch(...)
          .then(res => {
              perform { type: 'log', message: `fetch completed with status: ${res.status}` }
              return res
          })
          .then(res => res.json())
      ```

    h2 getting started guide ref
    h2 examples
    h2 references
    ul
      li
        a(href='github.com') implementation

