path {
  stroke-dasharray: 100;
  animation: dash 1.8s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}
body {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  margin: auto;
  margin-top: 40px;
  max-width: 800;
  padding: 8px;
}
.hljs {
  border-radius: 3px;
  padding: 16px;
}
